{{- range .Values.services }}
{{- if .enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
  labels:
    app: {{ .name }}
spec:
  selector:
    app: {{ .name }}
  ports:
  - port: {{ .port }}
    targetPort: {{ .port }}
    name: http
  type: {{ if eq .name "calculator-api" }}ClusterIP{{ else }}{{ .serviceType }}{{ end }}  # Changed calculator-api to ClusterIP
---
{{- end }}
{{- end }}